<html>
<head>
<title>test.resources.Info</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
<div class="story">
<h1></h1>
<div class="path">test/resources/Info.story</div>
<div class="scenario">
<h2>Scenario: 001: &#31038;&#20869;&#12450;&#12459;&#12454;&#12531;&#12488;&#12434;&#34920;&#31034;&#12375;&#12414;&#12377;</h2>
<div class="step successful">Given &#31038;&#21729;&#12434;&#34920;&#31034;&#12375;&#12414;&#12377;</div>
<div class="step successful">When &#12518;&#12540;&#12470;ID <span class="step parameter">1000</span> &#12434;&#34920;&#31034;&#12375;&#12414;&#12377;</div>
<div class="step successful">Then &#20197;&#19979;&#12364;&#34920;&#31034;&#12373;&#12428;&#12390;&#12356;&#12427;&#12371;&#12392;
<span class="step parameter"><table>
<thead>
<tr>
<th>UserID</th><th>UserNameFirst</th><th>UserNameLast</th></tr>
</thead>
<tbody>
<tr>
<td>1000</td><td>&amp;#12414;&amp;#12415;</td><td>&amp;#12392;&amp;#12418;&amp;#12360;</td></tr>
</tbody>
</table>
</span></div>
</div>
<div class="scenario">
<h2>Scenario: 002: &#37096;&#32626;&#12434;&#34920;&#31034;&#12375;&#12414;&#12377;</h2>
<div class="step successful">Given &#37096;&#32626;&#12434;&#34920;&#31034;&#12375;&#12414;&#12377;</div>
<div class="step successful">When &#37096;&#32626;ID <span class="step parameter">200</span> &#12434;&#34920;&#31034;&#12375;&#12414;&#12377;</div>
<div class="step successful">Then &#20197;&#19979;&#12398;&#37096;&#32626;&#12364;&#34920;&#31034;&#12373;&#12428;&#12390;&#12356;&#12427;&#12371;&#12392;
<span class="step parameter"><table>
<thead>
<tr>
<th>UnitID</th><th>UnitName</th></tr>
</thead>
<tbody>
<tr>
<td>200</td><td>&amp;#36001;&amp;#21209;&amp;#37096;</td></tr>
</tbody>
</table>
</span></div>
</div>
<div class="scenario">
<h2>Scenario: 003: &#31649;&#29702;&#12471;&#12473;&#12486;&#12512;&#12434;&#34920;&#31034;&#12375;&#12414;&#12377;</h2>
<div class="step successful">Given &#31649;&#29702;&#12471;&#12473;&#12486;&#12512;&#12434;&#34920;&#31034;&#12375;&#12414;&#12377;</div>
<div class="step successful">When &#31649;&#29702;&#12471;&#12473;&#12486;&#12512;ID <span class="step parameter">2000</span> &#12434;&#34920;&#31034;&#12375;&#12414;&#12377;</div>
<div class="step successful">Then &#20197;&#19979;&#12398;&#31649;&#29702;&#12471;&#12473;&#12486;&#12512;&#12364;&#34920;&#31034;&#12373;&#12428;&#12390;&#12356;&#12427;&#12371;&#12392;
<span class="step parameter"><table>
<thead>
<tr>
<th>ManagementSystemID</th><th>ManagementSystemName</th></tr>
</thead>
<tbody>
<tr>
<td>2000</td><td>&amp;#36001;&amp;#21209;&amp;#30058;&amp;#38263;</td></tr>
</tbody>
</table>
</span></div>
</div>
</div>

</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
